body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* section 1 */
section{
    display: grid;
    justify-content: center;
    /* background-color: red; */
    
    
}
.orange{
    color: orange;
}
.width{
    width:1150px;
}
.hero{
    display: flex;
    /* display: grid; */
    justify-items: center;
    
    
}
.left-border{
    border-left: 3px solid brown;
}
#image{
    /* border-radius: 50% ; */
    width: 70%;
}
.person-center{
    display: grid;
    justify-items: center;
}
.half-width{
    display: grid;
    justify-self: center;
    align-self: center;
    /* background-color: yellow; */
    
}
.grid{
    display: grid;
    /* justify-content: center; */
}
.button{
    text-decoration:none;
    background-color: rgb(236, 200, 107);
    border-radius: 12px;
    padding: 10px 20px;
    
}
.mt{
    margin-top: 15px;
}

/* section 1 end */


/* section 2 start */
.card{
    display: flex;
    justify-content: space-between;
    
}
.card-body{
    width:315px;
    height:300px;
    border-radius: 25px;
    padding: 1.5rem;
}
.bg-success{
  background-color: rgb(243, 167, 167);
}
.bg-warning{
  background-color: rgb(236, 206, 165);
}
.bg-info{
 background-color: rgb(176, 231, 231);
}
.img-fluid{
    width:40%;
}
/* section 2 end */
/* section 3 start */
.img{
    width:30%;
}
.d-flex{
    display: flex;
}
.content{
    
    display:grid;
    justify-self: center;
    align-self: center;
}
.p{
  padding: 40px;
}
.pe{
    padding-right:30px;
}
.margin-top{
    margin-top: 80px;
}
.text-center{
    text-align: center;
}
/* section 3 end */

footer{
    height: 150px;
    width: 100%;
    background-color: black;
}